*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --bg: #d5f4ff;
    --red: #af2020;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--bg);
}

header {
    background-color: var(--red);
    color: white;
    padding: 1rem;
    font-weight: 900;
}

main {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
}

button {
    cursor: pointer;
}

.pokemon-list_pokemon {
    display: flex;
    gap: 1rem;
}

.pokemon-list_pokemon:nth-child(even) {
    background-color: #e4e4e4;
}

.pl-number {
    width: 40px;
    text-align: center;
}

.pl-name {
    width: 150px;
}

.pl-button {
    background-color: #ad4343;
    color: white;
    padding: .5rem;
    border: 0;
}

.pl-button:hover {
    background-color: var(--red);
}

#modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.5);
}

#chosen-pokemon {
    background-color: var(--bg);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 3px solid var(--red);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#close-btn {
    position: absolute;
    top: 0;
    right: 0;

    background: none;
    border: 1px solid var(--red);
    color: var(--red);

    font-size: 18px;
}

#chosen-pokemon_name {
    font-size: larger;
    font-weight: 700;
}

#chosen-pokemon_stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

#chosen-pokemon_image {
    text-align: center;
}

#chosen-pokemon_types {
    
}

.prevent-scroll {
    height: 100vh;
    overflow: hidden;
}